@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');
/*font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

:root{
--pink: hsl(322, 100%, 66%);
--very-dark-cyan: hsl(192, 100%, 9%);
--very-pale-blue: hsl(207, 100%, 98%);
}

body{
    font-size:18px;
    color:var(--darkcyan);
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding:0;
}

header{
    box-sizing:border-box;
    padding:40px 40px;
}

.headerbutton{
    float:right;
    background-color:white;
    font-family: 'Open Sans', sans-serif;
    border:1px solid var(--pink);
    padding:10px 40px;
    border-radius:50px;
    font-weight:600;
    box-shadow:2px 2px 5px hsl(210, 11%, 86%);
    cursor:pointer;
    color:var(--pink);
}

.headerbutton:hover{
    background-color:var(--pink);
    color:white;
    box-shadow:5px 5px 10px hsl(210, 8%, 75%);
}

.section1{
    padding:50px 50px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}


.sec1title{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:var(--very-dark-cyan);
}

.sec1title h1{
    font-family:'Poppins', sans-serif;
}

.sec1title p{
    width:45%;
    font-size:1em;
}

.sec1button{
    background-color:var(--pink);
    color:white;
    border:none;
    border-radius:50px;
    padding:20px 70px;
    margin-top:20px;
    margin-bottom:20px;
    font-weight:600;
    box-shadow:0px 0px 5px hsl(213, 43%, 84%);
    cursor: pointer;
}
    
.sec1button:hover{
    background-image:linear-gradient(135deg, hsl(32, 100%, 66%), hsl(322, 100%, 66%));
}

.section1 img{
    width:60%;
    margin-top:40px;
}

.stats{
    width:100%;
    color:var(--very-dark-cyan);
    display:flex;
    flex-direction:row;
}

.stats img{
    height:30px;
    width:auto;
}

.stats h2{
    font-size:5em;
    margin:0;
}

.stats p{
    width:200px;
    font-size:1em;
    color:hsl(210, 2%, 49%);
}

.left{
    margin-right:100px;
}

.right{
    margin-left:100px;
}

.section2{
    background-image:url("images/bg-section-top-desktop-1.svg"), url("images/bg-section-bottom-desktop-1.svg");
    background-repeat: no-repeat;
    background-position: top, bottom;
    box-sizing:border-box;
    background-size:100% 13%;
    padding:100px 0px;
}

.background-color{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction:row-reverse;
    background-color:var(--very-pale-blue);
    box-sizing:border-box;
    padding:100px 50px;
}

.text2{
    width:50%;
    color:var(--very-dark-cyan);
}

.text2 p{
    font-size:1.1em;
}

.section2 img{
    width:40%;
    padding-top:10px;
}

.section3{
    margin-top:100px;
    padding:50px 50px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction:row;
    box-sizing:border-box;
}

.text3{
    width:50%;
    color:var(--very-dark-cyan);
}

.text3 p{
    font-size:1.05em;
}

.section3 img{
    width:40%;
    padding-top:10px;
}

.section4{
    background-image:url("images/bg-section-top-desktop-2.svg"), url("images/bg-section-bottom-desktop-2.svg");
    background-repeat: no-repeat;
    background-position: top, bottom;
    box-sizing:border-box;
    background-size:100% 12%;
    padding:90px 0px;
}

.background-color2{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction:row-reverse;
    background-color:var(--very-pale-blue);
    box-sizing:border-box;
    padding:100px 50px;
}

.text4{
    width:50%;
    color:var(--very-dark-cyan);
}

.text4 p{
    font-size:1.1em;
}

.section4 img{
    width:40%;
    padding-top:10px;
}

.section5{
    padding:50px 50px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    box-sizing:border-box;
}

.section5 h1{
    font-family:'Poppins', sans-serif;
    color:var(--very-dark-cyan);  
    font-size:2.5em;
}

.section5 button{
    background-color:var(--pink);
    color:white;
    border:none;
    border-radius:50px;
    padding:25px 100px;
    margin-top:20px;
    margin-bottom:20px;
    font-size:1em;
    font-weight:600;
    box-shadow:0px 0px 10px hsl(214, 23%, 76%);
    cursor: pointer;
}
    
.section5 button:hover{
    background-image:linear-gradient(135deg, hsl(32, 100%, 66%), hsl(322, 100%, 66%));
}

footer{
    background-image:url("images/bg-footer-top-desktop.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size:100% 15%;
    box-sizing:border-box;
    padding-top:95px;
}

.content1{
    padding-top:0px;
}

.background-color3{
    background-color:var(--very-dark-cyan);
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:space-between;
    padding-top:100px;
    color:white;
    padding-left:50px;
    padding-right:50px;
    padding-bottom:100px;
    box-sizing:border-box;
}

.left{
    width:30%;
    margin-left:40px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
}

.right{
    width:40%;
    float:right;
    
}

.right p{
    width:75%;
}

.contact{
    color:white;
    display:flex;
    justify-content:center;
    align-items:start;
    flex-direction:column;
    color:white;
}

.contact div{
    display:flex;
    justify-content:center;
    align-items:center;
}

.contact img{
    margin-right:10px;
}

.footerlogo{
    margin-left:-10px;
}

.social{
    padding:0;
    display:grid;
    grid-template-columns: 35px 35px 35px;
    grid-template-rows:35px;
    grid-gap:15px;
    margin-top:25px;
    margin-left:-5px;
}

.social li{
    display:flex;
    justify-content:center;
    align-items:center;
    list-style-type:none;
    cursor: pointer;
    font-size:2em;
    color:white;
}

.social li:hover{
    color:var(--pink);
}


footer form{
    margin-top:30px;
    margin-right:0;
}
#emailfooter{
    height:30px;
    width:55%;
    margin-right:30px;
    border-radius:5px;
    border:none;
}

#submitfooter{
    background-color:var(--pink);
    color:white;
    border:none;
    border-radius:5px;
    padding:10px 30px;
    cursor:pointer;
}

#submitfooter:hover{
    background-image:linear-gradient(135deg, hsl(32, 100%, 66%), hsl(322, 100%, 66%));
}




@media screen and (max-width: 780px) {
    body{
        width:100vw;
    }

    .logo{
        width:50%;
    }

    .navbar{
        display:flex;
        align-items:flex-end;
        justify-content:space-between;
    }

    .headerbutton{
        padding:5px 20px;
    }

    .section1{
        padding:20px 20px;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
    }
    
    
    .sec1title{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        text-align:center;
        color:var(--very-dark-cyan);
    }
    
    .sec1title h1{
        font-size:1.2em;
    }
    
    .sec1title p{
        width:100%;
        font-size:.9em;
    }
   
    .section1 img{
        width:100%;
    }
    
    .stats{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
    
    .stats img{
        height:30px;
        width:auto;
    }
    
    .left{
        margin-right:0;
    }
    
    .right{
        margin-left:0;
    }

    .section2{
        background-image:url("images/bg-section-top-mobile-1.svg"), url("images/bg-section-bottom-mobile-1.svg");
        background-repeat: no-repeat;
        background-position: top, bottom;
        box-sizing:border-box;
        background-size:100% 15%;
        padding:100px 0px;
    }

    .background-color{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-wrap:wrap;
        padding:20px 20px;
    }

    .text2{
        width:100%;
        margin-right:0px;
        text-align:center;
        padding-top:50px;
    }

    .text2 p{
        font-size:.85em;
    }

    .text2 h1{
        font-size:1.2em;
    }
    
    .section2 img{
        width:70%;
        padding-top:50px;
    }

    .section3{
        padding:0px 0px;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-wrap:wrap;
        padding:20px 20px;
    }

    .text3{
        width:100%;
        margin-right:0px;
        text-align:center;
        padding-top:50px;
    }

    .text3 p{
        font-size:.85em;
    }

    .text3 h1{
        font-size:1.2em;
    }
    
    .section3 img{
        width:70%;
        padding-top:50px;
    }

    .section4{
        background-image:url("images/bg-section-top-mobile-2.svg"), url("images/bg-section-bottom-mobile-2.svg");
        background-repeat: no-repeat;
        background-position: top, bottom;
        box-sizing:border-box;
        background-size:100% 15%;
        padding:100px 0px;
    }

    .background-color2{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-wrap:wrap;
        padding:20px 20px;
    }

    .text4{
        width:100%;
        margin-right:0px;
        text-align:center;
        padding-top:50px;
    }

    .text4 p{
        font-size:.85em;
    }

    .text4 h1{
        font-size:1.2em;
    }
    
    .section4 img{
        width:70%;
        padding-top:50px;
    }

    .section5 h1{
        font-size:1.5em;
        text-align:center;
    }
    
    .section5 button{
        padding:15px 40px;
        font-size:.9em;
    }

    footer{
        background-image:url("images/bg-footer-top-mobile.svg");
        background-repeat: no-repeat;
        background-position: top;
        background-size:100% 5%;
        box-sizing:border-box;
    }
    
    .background-color3{
        display:flex;
        flex-direction:column-reverse;
        align-items:center;
        justify-content:center;
        padding:100px 30px;
        margin-top:-90px;
    }
    
    .content1{
        margin-top:0;
        padding-top:40px;
    }
    
    .left{
        width:100%;
        margin-left:0px;
        margin-top:100px;
    }
        
    .right{
        width:100%;
    }
    
    .right h1{
        font-size:1.2em;
    }
        
    .right p{
        width:100%;
        font-size:.9em;
        line-height:1.5em;
    }
    
    
    footer form{
        margin-top:30px;
    }
    
    #emailfooter{
        height:30px;
        width:100%;
        margin-right:30px;
        border-radius:5px;
        border:none;
        height:40px;
    }
    
    #submitfooter{
        width:50%;
        float:right;
        padding:10px 20px;
        margin-top:15px;
        font-weight:600;
        font-size:1.1em;
    }
}